<% provide(:title, "查询") %>
<h1>查询</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag(query_path, method: :post) do %>
      <div class="input-group">
        <%= text_field_tag :query, nil, class: "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "查询", class: "btn btn-default" %>
        </span>
      </div><br />

      <%= label_tag :column, "字段" %>
      <%= select_tag :column, options_for_select([["书名", 1], ["书名（精确匹配）", 2], ["类别", 3], ["作者", 4], ["出版社", 5], ["年份", 6], ["价格", 7]]), class: "form-control" %><br />

      <%= label_tag :order, "排序" %>
      <%= select_tag :order, options_for_select([["书名", 1], ["书号", 2], ["类别", 3], ["作者", 4], ["出版社", 5], ["年份", 6], ["价格", 7]]), class: "form-control" %>
    <% end %>
  </div>
</div>

<div style="height: 40px"></div>

<%= render 'shared/display_books' %>
